# Android / Gradle
.gradle/
**/build/
local.properties

# Android Studio / IntelliJ
.idea/
*.iml

# Logs
*.log
*.logcat
build_log.txt

# Archives
*.zip

# Outputs
*.apk
*.aab

# OS junk
.DS_Store
Thumbs.db
